.danger{
    background-color: lightblue;
    color: red;
}
.post{
    background-color: lightblue;
    border: 1px gray solid;
    margin: 10px 10px;
    padding: 5px 20px;
    border-radius:  20px;
    width: 700px;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}